<template>
  <div class="flex h-screen">
    <div class="w-3/4 pr-8">
      <div
        :class="`w-full user-posts post-`+post.id"
        v-for="post in posts"
        v-bind:key="post.id"
      >
        <post-brief-view
          v-bind:post="post"
          url=''
        ></post-brief-view>
      </div>
    </div>
    <div class="ml-8 w-1/4">
      <div class="mb-4 text-grey-darker text-sm font-bold mb-2">Tags</div>
      <div class="flex flex-wrap justify-between">
        <div v-for="tag in tags" v-bind:key="tag.id">
          <router-link :to="{ name: 'taggedPosts', params: {tag: tag.name.en}}" class="no-underline text-grey-darkest">
            #{{ tag.name.en }}
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import PostBriefView from "../../components/PostBriefView";

export default {
  components: { PostBriefView },
  data() {
    return {
      loading: false,
      posts: null,
      tags: null,
      error: null
    };
  },
  created() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      this.loading = true;
      
      const calls = [
        axios.get('/api/posts'),
        axios.get('/api/tags'),
      ];

      axios.all(calls).then(axios.spread((postRes, tagRes) => {
        this.posts = postRes.data;
        this.tags = tagRes.data
      }))
    }
  }
};
</script>
