<template>
  <post-form
    :form="form"
    v-on:save="save"
  ></post-form>
</template>
<script>
import PostForm from "../../components/PostForm";

export default {
  props: ["id"],
  components: {
    PostForm
  },
  data() {
    return {
      form: new Form({})
    };
  },
  created() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      axios.get("/api/posts/" + this.id).then(response => {
        this.form = new Form(response.data);
      });
    },
    save() {
      let url = "/api/posts/"+this.form.id;

      this.form.patch(url).then(response => {
        if (this.$store.getters.authenticated) {
          router.push("/myPosts");
        } else {
          router.push("/");
        }
      })
    }
  }
};
</script>
