<template>
  <div
    class="flex flex-wrap show-post"
    v-if="post != null"
  >
    <div class="w-full mb-4">
      <p class="text-5xl mb-1 tracking-wide leading-normal text-grey-darkest" v-html="this.post.title">
      </p>
      <p class="text-md mb-4 font-light tracking-wide leading-normal text-grey-darker" v-html="post.sub_title">
      </p>
      <p class="mb-2 text-grey-darkest" v-html="this.post.description">
      </p>
    </div>
    <div v-if="editable">
      <router-link
        :to="{ name: 'editPost', params: {id: post.id}}"
        tag="Button"
        id="edit"
        class="no-underline align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline text-blue-lightest bg-blue hover:bg-blue-light"
      >Edit
      </router-link>
      <button id="delete" class="bg-red align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal hover:bg-red-light" @click="deletePost()">Delete</button>
    </div>
  </div>
</template>
<script>
export default {
  props: ["id"],
  data() {
    return {
      post: '',
      form: new Form({})
    };
  },
  created() {
    this.fetchData();
  },
  computed: {
    editable() {
      if (this.$store.getters.authenticated & (this.post.user != undefined)) {
        return this.$store.getters.user.id == this.post.user.id;
      } else {
        return false;
      }
    }
  },
  methods: {
    fetchData() {
      axios.get("/api/posts/" + this.id).then(response => {
        this.post = response.data;
      });
    },
    deletePost() {
      this.form.delete("/api/posts/" + this.id).then(response => {
        router.push('/')
      });
    }
  }
};
</script>
