<template>
  <div class="flex h-screen">
    <div class="w-3/4 pr-8">
      <div
        v-if="posts == ''"
        class="w-full text-center mt-8 text-5xl text-teal-darker"
      >You dont have any posts</div>
      <div
        class="w-full user-posts"
        v-for="post in posts"
        v-bind:key="post.id"
      >
        <post-brief-view
          v-bind:post="post"
          url=''
        ></post-brief-view>
      </div>
    </div>
  </div>
</template>
<script>
import PostBriefView from "../../components/PostBriefView";

export default {
  props: ["tag"],
  components: { PostBriefView },
  data() {
    return {
      loading: false,
      posts: null,
      tags: null,
      error: null
    };
  },
  created() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      this.loading = true;

      axios.get("/api/taggedPosts/" + this.tag).then(response => {
        this.posts = response.data;
      });
    }
  }
};
</script>
