<template>
  <div class="flex flex-col items-center w-full justify-center pt-20 font-sans">
    <div class="flex flex-col shadow-md p-6 rounded-md">
      <div class="flex flex-col rounded-b">
        <div class="mb-4">
          <label class="text-sm font-bold">Email</label>
          <input
            type="text"
            name="email"
            v-model="form.email"
            class="w-full mt-2 p-2 border rounded focus:border-blue-light"
          >
          <p class="text-red text-sm pt-2" v-if="form.errors.has('email')" v-html="form.errors.get('email')"></p>
        </div>
        <div class="mb-4">
          <label class="text-sm font-bold">Password</label>
          <input
            type="password"
            name="password"
            v-model="form.password"
            class="w-full mt-2 p-2 border rounded focus:border-blue-light"
          >
          <p class="text-red text-sm pt-2" v-if="form.errors.has('password')" v-html="form.errors.get('password')"></p>
        </div>
        <div class="mb-4">
            <button
            name="login"
            id="login"
            class="text-center select-none border font-normal py-2 px-4 rounded text-base leading-normal text-blue-lightest bg-blue hover:bg-blue-light"
            @click="login">Login</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data(){
    return {
      form: new Form({
        email: '',
        password: '',
      })
    }
  },
  methods: {
    login() {
      this.form.post('/api/login').then(response => {
        this.$store.dispatch("login", response.access_token)
        router.push('/myPosts')
      })
    }
  }
}
</script>