<template>
  <div class="flex flex-wrap">
    <div class="w-full mb-4">
      <label
        for="title"
        class="text-sm font-bold"
      >Title</label>
      <div class="mb-4">
        <input
          name="title"
          type="text"
          for="title"
          class="w-full mt-2 p-2 border rounded focus:border-blue-light"
          v-model="form.title"
        >
        <p
          class="text-red text-xs mt-2"
          v-if="form.errors.has('title')"
        >{{ form.errors.get('title') }} </p>
      </div>
    </div>
    <div class="w-full mb-4">
      <label
        for="sub-title"
        class="text-sm font-bold mb-2"
      >Sub title</label>
      <div class="mb-4">
        <input
          name="sub_title"
          type="text"
          for="sub-title"
          class="w-full mt-2 p-2 border rounded focus:border-blue-light"
          v-model="form.sub_title"
        >
        <p
          class="text-red text-xs mt-2"
          v-if="form.errors.has('sub_title')"
        >{{ form.errors.get('sub_title') }} </p>
      </div>
    </div>
    <div class="w-full mb-4">
      <label
        for="sub-title"
        class="block text-sm font-bold mb-2"
      >Description</label>
      <ckeditor
        :editor="editor"
        v-model="form.description"
        :config="editorConfig"
      ></ckeditor>
      <p
        class="text-red text-xs mt-2"
        v-if="form.errors.has('description')"
      >{{ form.errors.get('description') }} </p>
    </div>
    <div class="w-full mb-4">
      <label
        for="tags"
        class="text-sm font-bold mb-2"
      >Tags</label>
      <input
        name="tags"
        type="text"
        for="tags"
        class="w-full mt-2 p-2 border rounded focus:border-blue-light"
        v-model="form.tag_names"
      >
      <p
        class="text-red text-xs mt-2"
        v-if="form.errors.has('tag_names')"
      >{{ form.errors.get('tag_names') }} </p>
    </div>
    <div
      class="w-full mb-4"
      v-if="editable"
    >
      <button
        id="save"
        class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline text-blue-lightest bg-blue hover:bg-blue-light"
        @click="save"
      >
        Save
      </button>
    </div>
  </div>
</template>
<script>
export default {
  props: ["form"],
  data() {
    return {
      editor: ClassicEditor,
      editorConfig: {
        ckfinder: {
          uploadUrl:
            "/api/upload?_token=" +
            document.head.querySelector('meta[name="csrf-token"]').content
        }
      }
    };
  },
  computed: {
    editable() {
      if (this.$store.getters.authenticated & (this.form.user != undefined)) {
        return this.$store.getters.user.id == this.form.user.id;
      } else if (this.$store.getters.authenticated) {
        return true;
      } else {
        return false;
      }
    }
  },
  methods: {
    save() {
      this.$emit("save");
    }
  }
};
</script>
