<template>
  <nav class="flex pt-4 pb-4 justify-between">
    <router-link
      class="appearance-none outline-none font-extrabold text-xl text-grey-darkest font-normal uppercase no-underline"
      :to="{ name: 'home'}"
    >Medium</router-link>
    <div
      class="flex self-end flex-row"
      v-if="authenticated"
    >
      <router-link
        class="appearance-none outline-none text-grey-darkest text-sm no-underline mr-2"
        :to="{ name: 'myPosts'}"
      ><i class="fas fa-book mr-2"></i>My Posts</router-link>
      <router-link
        class="appearance-none outline-none text-grey-darkest text-sm no-underline mr-2"
        :to="{ name: 'createPost'}"
      ><i class="fas fa-pen-fancy mr-2"></i>New Post</router-link>
      <div class="flex-inherit text-sm mr-2 text-teal-darker self-middle">
        {{ this.$store.getters.user.email }}
      </div>
      <a
        class="text-green text-sm no-underline cursor-pointer" @click="logout"
      >Logout</a>
    </div>
    <div
      class="flex self-end"
      v-else
    >
      <router-link
        class="appearance-none outline-none text-grey-darkest text-sm no-underline"
        :to="{ name: 'register'}"
      >Become a member</router-link>
      <router-link
        class="appearance-none outline-none text-green text-sm no-underline ml-4"
        :to="{ name: 'signin'}"
      >Sign in</router-link>
    </div>
  </nav>
</template>
<script>
export default {
  computed: {
    authenticated() {
      return this.$store.getters.authenticated;
    }
  },
  methods: {
    logout() {
      axios.post('/api/logout').then(reponse => {
        this.$store.commit('logout')
        router.push('/')
      })
    }
  }
};
</script>


